@import "../../styles/variables.scss";

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    width: 40px;
    height: 40px;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: $greenyellow;
    border-color:  $greenyellow;
    transition: all 0.15s ease-in-out;
}

.active {
    border-color:  $greenyellow;
    background:  $greenyellow;
    color: white;
}

.btn:hover{
    background-color: $green;
    color: white;
    border: $green;
}

.left{
    transform: scale(2);
    padding-top: 2px;
}

.right{
    transform: scale(2);
    padding-top: 2px;
}

.btn:disabled {
    background-color: $disabledbkg;
    cursor: not-allowed;
    color: $txtcolor;
    border: none;
  }
