@import "../../styles/variables.scss";

.listContainer {
  @include page-container;
}

.elementsContainer {
  padding-top: 10px;
  padding-bottom: 70px;
}

.inputBtnBox{
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.btnLabel{
  display: flex;
  column-gap: 5px;
}


.delIcon{
 vertical-align: middle;
}

.spinnerContainer {
  @include spinner-container;
}
