.barChartBox {
  padding-top: 40px;
  height: 80vh;
  width: 75vw;
  background-color: #f6f6f6;
  margin: 10px auto;
  box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 15%);
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.barBox{
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 55px;
}

.spinnerContainer {
  display: grid;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
