// colors
$greenyellow: #4bc00c; // theme-color
$green: #008000;
$red: #da2323;
$lightredbkg: #feeae7;
$lightblue:  #208dd2; // cancel btn, modal close icon hover
$disabledbkg: #c6c6c6; // btn, input
$txtcolor: #eee; // card name, btn text, modal close icon, modal header text, piechart label fill
$errorbkg: #feeae7; // input
$lightgrey: #8a8989; // input, barchart grid line stroke, dropdown line icon
$lightgreen:  #9bdc28; //card text, design
$contentbkg: #1a251a; // card, table, home InputBoxes 
$dropdowntheme: #51b23d;
$dropdowntxtdark: #1f331f;
$spinnerwhite: #e3e1e1;
$tableborder: #ddd;

