@import "../../styles/variables.scss";

.tooltip {
  position: fixed;
  display: block;
  z-index: 100;
  font-size: 12px;
  background-color: black;
  border-radius: 5px;
  padding: 8px;
  color: white;
  width: max-content;
}

.arc {
  stroke: white;
}

.arc:hover{
  transform: scale(1.08);
}

.label {
  fill: $txtcolor;
  font-size: 16px;
  text-anchor: middle;
  font-weight: lighter;
  font-family:'Poppins';
}

.pieChartTitle {
  text-align: left;
  font-size: 18px;
  font-family:'Poppins';
  font-weight: bold;
  padding-bottom: 10px;
}

svg{
  shape-rendering: geometricPrecision;
}
