.leaderBoardContainer {
  position: absolute;
  margin-top: 90vh;
  height: 100vh;
  width: 100vw;
}

.tableContainer {
  margin: 15px 10px 20px 10px;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  margin: auto; 
  text-align: center;
}

.th {
  background-color: #1a251a;
  color: #eee;
  padding: 8px;
  width: 140px;
  border: 1px solid #ddd;
}

.thRank {
  background-color: #1a251a;
  color: #eee;
  padding: 8px;
  width: 100px;
  border: 1px solid #ddd;
}

.thMarks {
  background-color: #1a251a;
  color: #eee;
  padding: 8px;
  width: 120px;
  border: 1px solid #ddd;
}

.thName {
  background-color: #1a251a;
  color: #eee;
  padding: 10px;
  border: 1px solid #ddd;
  max-width: 270px;
  min-width: 200px;
}

.td {
  border: 1px solid #ddd;
  height: 22px;
  padding: 5px;
  max-width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tr:nth-child(even) {
  background-color: #f2f2f2;
}
.tr:nth-child(odd) {
  background-color: #9bdc28;
}
.tr:hover {
  background-color: green;
  color: white;
}

.spinnerContainer {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.dropDownClass {
  padding-top: 35px;
  padding-bottom: 15px;
}

.downloadBtn{
 text-align: center;
}

.paginationBox{
display: flex;
justify-content: center;
padding-bottom: 100px;
}

.perPage{
  margin-top: 20px;
  margin-left: 60px;
}




