@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  background-color: #4bc00c;
  /* background-image: linear-gradient(#142b14,green); */
  color: white;
  z-index: 2;
  box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 15%);
}

.section{
  display: grid;
  grid-template-columns: auto auto;
  gap:4px;
  font-family: 'Sriracha', cursive;
  font-size: 18px;
  margin-top: -5px;
}

.themeIcon{
  padding-top: 2px;
}

.aside{
  margin-top: 35px;
  float: center;
  font-size: 12px;
  text-align: center;
}
